@media (max-width: 1500px) {
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .data-item__text {
        font-size: 18px;
    }
    .check-text {
        font-size: 12px;
    }
    .check-label input {
        width: 20px;
    }
}

@media (max-width: 576px) {
    .btn {
        width: 200px;
        font-size: 18px;
    }
    .table td {
        padding: 5px 5px; 
    }
    .text-item--modify {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    input {
        width: 200px;
    }
    .main-container__data input {
        width: 200px;
    }
}